html {
	height: 95%;
}
body {
  /*font: 600 100px/150px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;*/
  height: 100%;
}
h1 {
  color: #9799a7;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  background: #eaeaed;
  height: 90%;
}
.container,
section {
  border-radius: 6px;
}
section.main{
  font: 600 100px/150px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  background: #2db34a;
  color: #fff;
  margin: 1%;
  /*padding: 20px 0;*/
  text-align: center;
}
section.main{
  float: left;
  width: 96%;
  height: 35%;
}
section.secondary{
  /*font-weight font-size(min/max?) styles...*/
  font: 100 50px/100px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  background: #2db34a;
  color: blue;
  margin: 1%;
  /*padding: 20px 0;*/
  text-align: center;
}
section.secondary{
  float: left;
  width: 30.7%;
  height: 15%;
}
section.index{
  /*font-weight font-size(min/max?) styles...*/
  font: 100 50px/100px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  background: #2db34a;
  color: blue;
  margin: 1%;
  /*padding: 20px 0;*/
  text-align: center;
}
section.index{
 float: left;
  width: 48%;
  height: 45%; 
}
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
}