a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

td {
  background: #2db34a;
}

h1 {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
}

a#reset, a#complete {
  display: block;
  height: 100%;
  width: 100%;
}